.services {
    display: flex;
    flex-direction: column;    
}

.services__heading {
    width: 100%;
    text-align: center;
    margin-bottom: 5rem;
}

.services__heading h1 {
    font-size: 62px;
    line-height: 75px;
    font-family: var(--font-family);
    font-weight: 800;
}


.services__container {
    flex: 1;

    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}