nav {
    background: var(--color-bg-alt);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    bottom: 2rem;
    gap: 0.1rem;
    border-radius: 1rem;
    margin: 0;
   
}

nav a {
    background: transparent;
    padding: 2rem;
    border-radius: 15%;
    font-size: 15px;
    color: var(--color-text);
     
}