:root {
  --font-family: ;

  --color-bg: #1C77C3;
  --color-bg-alt: #39A9DB;
  --color-buttons: #D63230;
  --color-borders: #f4e409;
  --color-subtext: #F39237;
  --color-container: #40BCD8;
  --color-text: #fff;
}

body {
  background: var(--color-bg);
}
